# Entornos
.env
*.env

# Credenciales
backend/credentials/
temp_credentials/

# Python cache
__pycache__/
*.pyc

# Django staticfiles (NO se deben subir)
staticfiles/

# Node modules
node_modules/

# Logs
*.log

# Mac / Windows
.DS_Store
Thumbs.db
