# Entornos
.env
*.env

# Credenciales
backend/credentials/
temp_credentials/

# Python cache
__pycache__/
*.pyc

# Django staticfiles de collectstatic (NO se suben)
staticfiles/

# Node modules
node_modules/

# Logs
*.log

# OS junk files
.DS_Store
Thumbs.db
